
<div *ngIf="error" class="alert alert-warning">{{ errorMsg }}</div>
<form
        (ngSubmit)="login(f)"
        #f="ngForm"
        *ngIf="oauthService.isLoggedOut()">
    <div id="user-data"
         ngModelGroup="userData"
         #userData="ngModelGroup">
        <div class="form-group">
            <label for="username">Username</label>
            <input
                    type="text"
                    id="username"
                    class="form-control"
                    ngModel
                    name="username"
                    required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    ngModel
                    name="password"
                    required
                    password
                    #password="ngModel">
        </div>
    </div>
    <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!f.valid"
    >Submit</button>
</form>
<div *ngIf="oauthService.isLoggedIn()" class="jumbotron">
    You are logged in succesfully, enjoy the intranet!
</div>